<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.george.cordova.plugin.googlenavigator"
    version="0.0.1">

  <name>Google Navigation V2</name>
  <description>Cordova/Phonegap plugin to navigate to a destination using native navigation apps on Android, iOS, and Windows</description>
  <author>Goerge Teodor</author>

  <repo>https://github.com/georgeteodor98/google-navigation-plugin-v2.git</repo>

  <license>MIT</license>
  <keywords>cordova,capacitor,ios,android,windows,navigation,navigator</keywords>

  <js-module src="www/common.js" name="Common">
    <clobbers target="launchnavigator" />
  </js-module>

  <js-module src="www/localforage.v1.5.0.min.js" name="LocalForage">
    <clobbers target="localforage" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <preference name="GOOGLE_API_KEY_FOR_ANDROID" />
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data
              android:name="launchnavigator.GOOGLE_API_KEY"
              android:value="$GOOGLE_API_KEY_FOR_ANDROID" />
    </config-file>

    <dependency id="cordova-plugin-actionsheet" version="2" />
    <dependency id="cordova-plugin-dialogs" version="*" />

    <js-module src="www/android/launchnavigator.js" name="LaunchNavigator">
      <merges target="launchnavigator" />
    </js-module>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LaunchNavigator">
        <param name="android-package" value="com.george.cordova.plugin.LaunchNavigatorPlugin"/>
      </feature>
    </config-file>

    <!-- Cordova wrapper -->
    <source-file src="src/android/LaunchNavigatorPlugin.java" target-dir="src/com/george/cordova/plugin" />
    <source-file src="src/android/CordovaLogger.java" target-dir="src/com/george/cordova/plugin" />

    <!-- LaunchNavigator lib -->
    <source-file src="src/android/lib/LaunchNavigator.java" target-dir="src/com/george" />
    <source-file src="src/android/lib/ILogger.java" target-dir="src/com/george" />

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <queries>
        <intent>
          <action android:name="android.intent.action.VIEW"/>
          <data android:scheme="geo" />
        </intent>
      </queries>
    </config-file>

    <preference name="OKHTTP_VERSION" default="3.12.0" />
    <framework src="com.squareup.okhttp3:okhttp:$OKHTTP_VERSION" />
  </platform>
</plugin>
